<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/editProduct.css">
    <title>Edit <%= product.name %></title>
</head>
<body>
    <div class="edit-product-wrapper">
        
        <div class="edit-product-header-wrapper">
            <a href="/">
                <div class="edit-product-header-text">
                    TBA Products
                </div>
            </a>
            
        </div>

        <div class="edit-product-content-wrapper">
            <form 
            class="edit-product-form"
            action="/stock/edit/<%= product.id %>"
            method="post"
            >
            <div class="edit-product-view-img-wrapper">
                <% if(product.isdefault) { %>
                    <img
                        src="<%= product.src %>"
                        class="edit-product-view-img"
                    />
                <% } else { %>
                    <img
                        src="<%= product.src %>"
                        class="edit-product-view-img"
                    />
                    <input type="file" name="src" id="src" />
                <% } %>
            </div>

            <div class="edit-product-info-wrapper">
                <% if(product.isdefault === true) { %>
                    <div class="edit-product-info-text"><%= product.name %></div>
                <% } else { %>
                    <label for="name">Name:</label>
                    <input type="text" name="name" value="<%= product.name %>" required />
                <% } %>

                <div class="edit-product-form-item">
                    <label for="price">Price: </label>
                    <input type="number" name="price" min="0.01" step="any" value="<%= product.price %>" required/>
                </div>
                
                <div class="edit-product-form-item">
                    <label for="quantity">Quantity: </label>
                    <input type="number" name="quantity" min="1" max="999" value="<%= product.quantity %>" required/>
                </div>

                <div class="edit-product-form-item">
                    <label for="artist">Artist: </label>
                    <input type="text" name="artist" value="<%= product.artist %>" required/>
                </div>

                <div class="edit-product-form-item">
                    <label for="description">Description: </label>
                    <textarea name="description" maxlength="250"><%= product.description %></textarea>
                </div>

                <div class="edit-product-form-item">
                    <label for="genre">Genre: </label>
                    <select name="genre" id="genre">
                        <% listedGenres.forEach((genre) => { %>
                        <option value="<%= genre.genre %>">
                            <%= genre.genre %>
                        </option>
                        <% }) %>
                    </select>
                </div>
            </div>

                <button type="submit" class="edit-product-submit-btn">
                    submit
                </button>
            </form>
        </div>

    </div>
</body>
</html>